*.obj filter=lfs diff=lfs merge=lfs -text
.fbx filter=lfs diff=lfs merge=lfs -text
*.unity binary diff=text
*.prefab binary diff=text
*.asset binary diff=text
# Leaving meta files out because line ending translation triggers
# bugs in Git when you switch back and forth.
# *.meta binary diff=text